<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>

  <h1> <%= nameOfDay %> </h1>

  <ul>
    <li>Exercise</li>
    <li>Eat breakfast</li>
    <li>Complete work</li>
  </ul>

  <form class="" action="/" method="post">

    <input type="text" name="newItem">

    <button type="submit" name="add">Add</button>
  </form>

</body>

</html>
